<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site metas -->
    <title>Vititest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/logoico.png') }}" type="image/logoico" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    
    <!-- jQuery para AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="main-layout">
    <!-- Loader -->
    <div class="loader_bg">
        <div class="loader"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" /></div>
    </div>
    <!-- End loader -->

    <!-- Header -->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><a href="index.html"><img src="{{ url_for('static', filename='images/logo2.jpg') }}" alt="#"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"><a href="{{ url_for('index') }}">Inicio</a></li>
                                        <li><a href="{{ url_for('about_us') }}">Nosotros</a></li>
                                        <li><a href="{{ url_for('meet') }}">Vitíligo</a></li>
                                         <li><a href="{{ url_for('resources') }}">Recursos</a></li>
                                        <li><a href="{{ url_for('contact') }}">Contacto</a></li>
                                        <li class="mean-last"><a href="#"><img src="{{ url_for('static', filename='images/top-icon.png') }}" alt="#" /></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header -->

    <section class="slider_section">
        <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="{{ url_for('static', filename='images/bannerOficial3.jpg') }}" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption relative">
                            <h1>Bienvenidos <br><strong class="cur"> a Vitil Check </strong></h1>
                            <span>La detección temprana del vitiligo <br> a solo un clic de distancia.</span>
                            <div class="button_section">
                                <a class="main_bt" href="#">Detector</a>
                                <a class="main_bt" href="#">Nosotros</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Rest of carousel items -->
            </div>
        </div>
    </section>

    <!-- Nosotros -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="aboutheading">
                        <h2>Nosotros</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aboutimg">
                        <figure><img src="{{ url_for('static', filename='images/f1.jpeg') }}" width="43%" alt="img" /></figure>
                        <p>Somos un equipo de estudiantes apasionados de la <strong>Facultad de Ingeniería de Sistemas</strong> comprometidos con el uso de la tecnología para mejorar la vida de las personas. <strong>En VitilCheck</strong>, hemos desarrollado un sitio web que utiliza redes neuronales para ayudar a detectar si las manchas son vitíligo.</p>
                        <a href="#">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicio -->
    <div class="get_infor green_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="get">
                        <h2>¿QUÉ ES <br><strong class="white">VITILÍGO</strong></h2>
                        <p style="text-align: justify;">Es una enfermedad de la piel que causa la pérdida de color en algunas áreas...</p>
                        <a class="started" href="#">Ver más</a>
                    </div>
                </div>
                <div class="col-lg-6 pdn-right">
                    <div class="guaranteed">
                        <figure><img src="{{ url_for('static', filename='images/piel.jpeg') }}" width="100%"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End servicio -->

    <!-- Video para la captura de imagen -->
    <div class="container">
        <h1>DETECTA VILIGO AHORA <br><strong class="cur"></strong>
        <br>
        <form id="imageUploadForm" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="image" accept="image/*" required>
            <button type="submit">Cargar Imagen</button>
        </form>
        
        <div id="result">
            <!-- Aquí se mostrará el resultado o cualquier mensaje de error -->
        </div>
    </div>
    <br><br><br>

    <!-- Javascript para el envío de imágenes mediante AJAX -->
    <script>
        $(document).ready(function() {
            $('#imageUploadForm').on('submit', function(event) {
                event.preventDefault(); // Evita que el formulario se envíe de forma tradicional
                
                var formData = new FormData(this); // Crea un objeto FormData para enviar la imagen
                
                $.ajax({
                    url: '/upload', // La ruta de tu backend que procesará la imagen
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        $('#result').html('<h3>Resultado de la detección:</h3><p>' + response.result + '</p>');
                    },
                    error: function(xhr, status, error) {
                        $('#result').html('<p style="color: red;">Ocurrió un error: ' + xhr.responseText + '</p>');
                    }
                });
            });
        });
    </script>

    <!-- Scripts adicionales ya existentes -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>
